html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: rgb(172, 162, 145);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.logo img {
    width: 250px;
    height: auto;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-text h1 {
    margin: 15px 0;
    font-size: 32px;
    color: #333;
}

.language-options {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.language-box {
    margin: 0 30px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.language-box img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.language-box img {
    width: 200px;
    height: auto;
    border-radius: 10%;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.language-box p {
    margin-top: 15px;
    font-size: 22px;
    color: #555;
}

footer {
    width: 100%;
    text-align: center;
    margin-top: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer h2 {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

footer p {
    font-size: 10px;
    color: #777;
    margin-bottom: 15px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media a img {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;
}

.social-media a img:hover {
    transform: scale(1.2);
}

/* Mobil uyumlu tasarım için medya sorguları */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        margin-bottom: 20px; /* Mobilde alt boşluk */
        margin-top: 20px; /* Mobilde üst boşluk */
    }

    .logo img {
        width: 200px;
    }

    .welcome-text h1 {
        font-size: 18px;
    }

    .language-options {
        flex-direction: column;
    }

    .language-box {
        margin: 20px 0;
    }

    .language-box img {
        width: 180px;
    }

    .language-box p {
        font-size: 20px;
    }
    
    footer h2 {
        font-size: 15px;
    }

    footer p {
        font-size: 10px;
    }

    .social-media a img {
        width: 30px;
    }
}